body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1a1a;
  font-family: Arial, sans-serif;
}

.calculator{
  width: 300px;
  background: #000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px #00ffea;
}

#result{
  width: 100%;
  height: 60px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #fff;
}

.buttons button{
  width: 65px;
  height: 65px;
  margin: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.equal{
  width: 140px;
  background: #00ffea;
}
