body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  background:#000;
  font-family:-apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
  overflow:hidden;
}

/* SPLASH SCREEN */
#splash{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  color:white;
  font-size:32px;
  font-weight:bold;
  z-index:9999;
  animation: fadeOut 1.5s ease forwards;
  animation-delay:1.4s;
}

#splash span{
  font-size:38px;
  color:#0affff;
  text-shadow:0 0 25px #0affff;
  animation:pulse 1.4s infinite;
}

@keyframes pulse{
  0%{opacity:0.5; transform:scale(0.9);}
  50%{opacity:1; transform:scale(1);}
  100%{opacity:0.5; transform:scale(0.9);}
}

@keyframes fadeOut{
  to{opacity:0; visibility:hidden;}
}

.calculator{
  width:360px;
  padding:25px;
  border-radius:40px;
  background:#1c1c1e;
  box-shadow:0 0 40px #000;
  position:relative;
  z-index:1;
  opacity:0;
  animation:showCalc 1s ease forwards;
  animation-delay:2.1s;
}

@keyframes showCalc{
  to{opacity:1; transform:scale(1);}
}

#result{
  width:100%;
  height:85px;
  font-size:40px;
  text-align:right;
  border:none;
  border-radius:20px;
  padding:20px;
  margin-bottom:25px;
  background:#2c2c2e;
  color:#fff;
  box-sizing:border-box;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:12px;
}

button{
  height:75px;
  border:none;
  border-radius:25px;
  font-size:26px;
  cursor:pointer;
  background:#3a3a3c;
  color:white;
  transition:0.15s;
}

button:hover{
  background:#505054;
  transform:scale(1.06);
}

.operator{
  background:#ff9f0a;
  color:#000;
  font-weight:bold;
}

.equal{
  grid-column:span 2;
  background:#34c759;
  color:#000;
  font-weight:bold;
  border-radius:30px;
}
